@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-number-input::-webkit-inner-spin-button,
.hidden-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hidden-number-input {
  -moz-appearance: textfield;
}
